@import url(global.css);
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Boldonse&family=Cal+Sans&family=Metamorphous&display=swap');

/* VÁLTOZÓK */
:root{
    --ash-black: rgb(19, 20, 20);
    --night-bordeaux: #370617ff;
    --black-cherry: #6a040fff;
    --oxblood: #9d0208ff;
    --brick-ember: #d00000ff;
    --red-ochre: #dc2f02ff;
    --cayenne-red: #e85d04ff;
    --deep-saffron: #f48c06ff;
    --orange: #faa307ff;
    --amber-flame: #ffba08ff;

    --title-font: 'Metamorphous';
}


 /* Placeholder!!! header */
/*#headerdemonok {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-left: 50%;
  position: relative;
  color: #ff0000;
  text-shadow: 0 4px 10px rgba(139, 0, 0, 0.8);
  font-size: 2rem;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgba(139, 0, 0, 0.4);
  width: 1200px;
  border-radius: 50%;
    margin-top: 90px;
}*/

/* BODY */

body{
    color: white;
    background-color: black;
}

header{
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0.5rem 0.5rem 1rem var(--ink-black), 0.3rem 0.7rem 0.7rem black;
    position: relative;
    font-family: var(--title-font), serif;
}

h1{
    color:  white;
    font-family: var(--title-font), serif;
}

.background{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black), url(../img/hell-bg.png);
    padding: 10%;
    background-position: 5%;
    background-size: cover;
    position: static;
    outline: none;
}

.lore{
    background-color: var(--ash-black);
    width: 50%;
    margin-left: 25%;
    font-family: sans-serif;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 20px;
    outline: none;
    border:solid;
    border-color: red;
    box-shadow: 0 0 20px var(--brick-ember);
    border-radius: 20px;
    padding: 3%;
}